<div class="login-form-container">
    <% if flash[:alert] %>
        <p id="notice" class="flash-alert"><%= flash[:alert] %></p>
        <% flash[:alert] = nil %>
    <% end %>

    <%= form_with url: login_path, class: 'login-form' do |form| %>
      <div class="form-field">
        <%= form.label :userid, 'User ID' %>
        <%= form.text_field :userid %>
      </div>

      <div class="form-field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="form-action">
        <%= form.submit "Login", class: "submit-button" %>
      </div>
    <% end %>

    <div class="signup-link">
      <%= link_to 'Sign up', signup_path, class: "signup-button" %>
    </div>
</div>
