<p style="color: green"><%= notice %></p>

<div id="<%= dom_id(@order) %>" class="order">
  <h2>Order ID: <%= @order.id %></h2>

  <table>
    <tr>
      <th>User</th>
      <td><%= @order.user&.userid || "Unknown User" %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @order.email %></td>
    </tr>
    <tr>
      <th>Paytype</th>
      <td><%= @order.paytype %></td>
    </tr>
  </table>

  

</div>



<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
