<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div id="<%= dom_id(cart) %>" class="cart-sidebar">
	<h3>Items in your cart</h3>
    <% @cart.lineitems.each do |item| %> 
    <div class="cart-item" id="lineitem_<%= item.id %>">
		<div class="item-image">
            <%= image_tag(item.product.image) %> 
        </div>
        <div class="item-details">
            <div class="item-name">
                <%= item.product.name %> 
            </div>
            <div class="item-price">
                <%= number_to_currency(item.product.price) %> 
            </div>
        </div>
        <div class="item-actions">
            <div class="quantity-selector">
                <%= button_to '-', lineitem_path(item, lineitem: { quantity: item.quantity - 1 }), method: :patch, remote: true, class: "decrease-quantity" %>
                <input type="text" class="quantity-input" value="<%= item.quantity %>" readonly>
                <%= button_to '+', lineitem_path(item, lineitem: { quantity: item.quantity + 1 }), method: :patch, remote: true, class: "increase-quantity" %>
            </div>
            <div class="remove-item">
                <%= button_to lineitem_path(item), method: :delete, remote: true, form: { class: 'remove-item-form' } do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
            </div>
        </div>
            
	</div>
    <% end %> 
    <div class="cart-footer">
		<div class="subtotal">
            Subtotal: <%= number_to_currency(@cart.total_price) %> 
        </div>
        <%= button_to "Checkout", new_order_path, method: :get, class: "checkout-button" %>
	</div>
	<div class="cart-note"> 
        Items are not held and may sell out 
    </div>
</div>